.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.website__navbarmobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
}

.website__navbarmobile_logo img {
    width: 40px;
    height: 40px;
}

.website__navbarmobile_container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: auto;
    margin-left: 3%;
    flex-wrap: wrap;
}

.website__navbarmobile_container p {
    color: var(--colour-text);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    margin: 0 2%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.website__navbarmobile_container p:target{
    color: #10121B;   
    text-decoration: underline;
    transform: scale(1.1);
}

.website__navbarmobile-resume button {
    padding: 0.3rem;
    background: var(--colour-footer);
    border-radius: 7px;
    border: none;
    color: var(--colour-bg);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.website__navbarmobile-resume button:target {
    background: #10121B;   
    transform: scale(1.1);
}

.website__navbarmobile-resume-icon svg {
    height: 18px;
    width: auto;
}