.website__about {
    align-items: center;
    padding: 10rem 6rem 15rem 25rem;
}

.website__about-title h1{
    font-family: var(--font-family);
    font-size: 48px;
    color: var(--colour-text);
    padding-bottom: 2rem;
}

.Aboutcards {
    display: flex;
    align-items: center;
}
