.website__proj {
    align-items: center;
    padding: 3% 6rem 10% 25%
}

.website__proj-title h1{ 
    font-family: var(--font-family);
    font-size: 48px;
    color: var(--colour-text);
    padding-bottom: 2rem;
}

.ProjectsCards {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: inline mandatory;
}


.ProjectsCards > * {
    scroll-snap-align: center;
    
}

.ProjectsCards:last-child {
    scroll-snap-align: end
}

/* width */
::-webkit-scrollbar {
    height: 15px; 
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--colour-text);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--colour-subtext); 
}


