.website__proj {
    align-items: center;
    padding: 10rem 6rem 6rem 30rem;
}

.website__proj-title h1{ 
    font-family: var(--font-family);
    font-size: 48px;
    color: var(--colour-text);
    padding-bottom: 2rem;
}

.ProjectsCards {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
