.Aboutcard__card {
    background: var(--colour-card);
    width: 300px;
    height: 390px;
    border-radius: 15px;
    padding: 1.5rem;
}

.Aboutcard__card-pic-bg {
    background: var(--colour-bg);
    margin: auto;
    width: 250px;
    height: 135px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 1rem;
}

.Aboutcard__card-pic-bg img{
    display: block;
    margin: auto;
    margin-bottom: 0px;
}

.Aboutcard__card-text-title, .Aboutcard__card-text-content {
    font-family: var(--font-family);
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.Aboutcard__card-text-title {
    font-size: 24px;
    color: var(--colour-text);
}

.Aboutcard__card-text-content {
    font-size: 18px;
    color: var(--colour-para);
}
