.Experiencecard__bg {
    background: var(--colour-card);
    width: 600px;
    height: 470px;
    border-radius: 15px;
    padding: 1.5rem;
    margin-right: 3rem;
    position: relative;
}

.Experiencecard__card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Experiencecard__card-text-date, 
.Experiencecard__card-text-title,
.Experiencecard__card-text-company,
.Experiencecard__card-text-content {
    font-family: var(--font-family);
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.Experiencecard__card-text-date {
    color: var(--colour-subtext);
    font-size: 18px;
}

.Experiencecard__card-text-company {
    color: var(--colour-subtext);
    font-size: 20px;
}

.Experiencecard__card-text-title {
    color: var(--colour-text);
    font-size: 28px;
}

.Experiencecard__card-text-content {
    color: var(--colour-para);
    font-size: 19px;
}


.Experiencecard__card-text-skills {
    position: absolute;
    bottom: 0px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Experiencecard__card-text-skills svg {
    width: 35px;
    height: 35px;
    color: var(--colour-text);
    margin: 0 0.7rem;
}